@charset "utf-8";

body {font-family: "맑은 고딕"; font-size: 17px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h1 {font-family: "궁서"; font-size: 30px; letter-spacing: 15px;}


#internet {color: #0000ff; font-style: italic; font-weight: bold;}
#ocean {color: #f00; font-style:italic; font-weight: bold;}

#back {background-color: #d9d9d9;}
#history {color: #00ff00; text-decoration: underline;}

#milnet {color: #ff0000; font-weight: bold;}
#user {text-decoration: underline;}
#users {line-height: 35px;}
#honest {color: #00ff00; font-weight: bold;}
#behavior {color: #0000ff; font-style: italic;}

ul>li {list-style-type:square;}
ol>li {list-style-type:none;}

table>thead>tr>th {background-color: #c8ebfa;}
td>a:link {color: #000000; text-decoration:none;}
td>a:visited {color: #000000;}
td>a:hover {color: #0000ff; text-decoration: overline;}
td>a:active {color: #0000ff; text-decoration: underline;}

.speed:before {content: "약";}
.speed:after {content: "*(MB/초)";}
.speed {text-align: right;}
#nation tr:hover {background-color: #EDD3ED;}

.history {text-indent: 30px}