@charset "UTF-8";

/* 전체 공통 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr, 
textarea, button, form {
    margin: 0; padding: 0;
}
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

body {
    font-family: "맑은 고딕", 돋음, 굴림;
    font-size: 12px;
}



ul li {list-style-type: none;}
