@charset "UTF-8";

/* 전체 공통 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr, 
textarea, button, form {
    margin: 0; padding: 0;
}

body {
    font-family: "맑은 고딕", 돋음, 굴림;
    font-size: 12px;
}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

ul li {list-style-type: none;}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #000000;}

#wrap {
    width: 1000px;
    margin: 0px auto;
}

/* 헤더영역 */

#wrap #header {
    margin: 0px 0px 5px 0px;
}

#wrap #header h1 {
    font-size: 35px;
    float: left;
    color: #0f0;
}
#wrap #header ul {
    float: right;
}
#wrap #header ul li {
    float: left;
    margin: 15px 10px 15px 0px;
}
/* nav */
#wrap #nav {
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
#wrap #nav ul li {
    float: left;
    width: 250px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* left-board */
#wrap #left-board {
    width: 150px;
    float: left;
    margin: 15px 0px 15px 5px;
}

#wrap #left-board h2 {
    padding: 15px 25px;
    background-color: #bfbfbf;
    text-align: center;
    padding: 25px auto;
}
#wrap #left-board ul li {
    border: 1px solid #000;
    margin: 8px 0px;
    padding: 3px 0px 3px 3px;
}
/* right-board */

#wrap #right-board {
    float: left;
    width: 800px;
    margin: 15px 0px 15px 15px;
    border-bottom: 1px solid #bfbfbf;
}
#wrap #right-board h3 {
    float:left;
    margin: 10px 0px 5px 0px;
    font-size: 25px;
}

#wrap #right-board ul {
    float: right;
}

#wrap #right-board ul li {
    float: left;
    margin: 25px 0px 0px 0px;
}
#wrap #right-board ul li:after {
    content: ">";
    padding: 0px 5px 0px 5px;
}
#wrap #right-board #right-board-last:after {
    content: "";
    padding: 0px 5px 0px 0px;
}

/* contents-table(게시판) */
table {
    float: left;
    margin: 0px 0px 0px 15px;
    border-collapse: collapse;
}
#wrap #contents thead tr th {
    font-size: 15px;
    padding: 10px 0px;
}
#wrap #contents thead {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #bfbfbf;

}
#wrap #contents tbody tr td {
    text-align: center;
    font-size: 14px;
    padding: 5px 0px;
    border-bottom: 1px solid #bfbfbf;
}
#wrap #contents #contents-last {
    border-bottom: 2px solid #000;;
}

/* n번째 게시글 */
#wrap #bottom ul {
    margin: 15px 150px 0px 400px;
}

#wrap  #bottom ul li {
    float: left;
    padding: 0px 6px;
}

#wrap #button-0 {
    float: right;
}

#wrap #button-0 #button-1{
    float: left;
    margin: 0px 100px 0px 0px;
    width: 80px;
    height: 30px;
}

#wrap #footer {
    background-color: #dddddd;
    margin: 50px;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #000;
}