@charset "utf-8";


.box-gray {
    width: 850px;
    background-color: #bcbcbc;
}
.box-blue {
    width: 400px;
    float: left;
    background-color: #0000ff;
}
.box-green {
    width: 400px;
    float: left;
    background-color: #00ff00;
}



.box-red {
    width: 850px; height: 30px;
    background-color: #ff0000;
}