@charset "utf-8";


* {margin: 0px; padding: 0px;}

.box-red {
        width: 300px;
        background-color: #ff0000;
        border: 12px solid #000000;
        /* padding: 10px 50px 10px 50px; */

        padding: 10px 50px;
        margin-bottom: 20px;
        }
.box-blue {
        width: 300px;
        padding: 50px 30px 50px 10px;
        background-color: #0000ff;
        }

        